<nav class="navbar navbar-expand-lg navbar-light custom-navbar" >
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="/assets/logo.png" alt="Logo" class="logo-img">
    </a>

  </div>
</nav>
<div class="App">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h4 class="card-title">Datos del Usuario</h4>
            <div class="card-details">
              <p><strong>Nombre: </strong> {{ resource.name }}</p>
              <p><strong>Año: </strong> {{ resource.year }}</p>
             <p><strong >Color: </strong> <span [style.background-color]="resource.color">{{ resource.color }} </span></p>

              <p><strong>Valor Pantone: </strong> {{ resource.pantone_value }}</p>
            </div>
            <button [routerLink]="['/resources']" class="btn btn-primary float-right">Volver</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


