<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <div #alert>
          <p #parrf></p>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-primary ">Añadir Recurso</button>
          <button [routerLink]="['/resources']" class="btn btn-success">Ver Listado Resource</button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead class="table-primary">
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Avatar</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let usuario of usuarios">
                <td>{{usuario.id}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.first_name}}</td>
                <td>{{usuario.last_name}}</td>
                <td><img src="{{usuario.avatar}}" alt="" class="img-thumbnail"></td>
                <td>
                  <button [routerLink]="['/users',usuario.id]" class="btn btn-primary me-md-2 ">Ver Usuario</button>
                  <button [routerLink]="['/users',usuario.id]" class="btn btn-warning me-md-2">Editar</button>
                  <button (click)="borrarUsuario(usuario.id)" class="btn btn-danger ">Borrar</button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
