<div class="row">
  <div class="col">
    <div class="card">

      <div class="card-header custom-card-header text-center">
        <div class="d-flex align-items-center justify-content-between">
          <div>
            <a class="navbar-brand" routerLink="">
              <img src="/assets/logo.png" alt="Logo" class="logo-img">
            </a>
          </div>
          <div>
            <button class="btn btn-info">Añadir Recurso</button>
            <button [routerLink]="['/resources']" class="btn btn-success">Ver Listado Resource</button>
          </div>



        </div>

        <h4 class="text-center">Listado de Usuarios</h4>
      </div>
      <div #alert>
        <p #parrf></p>
      </div>
      <div class="card-body">
        <table class="table table-striped table-hover">
          <thead class="table-primary">
            <tr>
              <th>ID</th>
              <th>Email</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Avatar</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let usuario of usuarios">
                <td>{{usuario.id}}</td>
                <td>{{usuario.email}}</td>
                <td>{{usuario.first_name}}</td>
                <td>{{usuario.last_name}}</td>
                <td><img src="{{usuario.avatar}}" alt="" class="img-thumbnail"></td>
                <td>
                  <button [routerLink]="['/users',usuario.id]" class="btn btn-primary me-md-2 ">Ver Usuario</button>
                  <button [routerLink]="['/users',usuario.id]" class="btn btn-warning me-md-2">Editar</button>
                  <button (click)="borrarUsuario(usuario.id)" class="btn btn-danger ">Borrar</button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
