<nav class="navbar navbar-expand-lg navbar-light custom-navbar" >
  <div class="container">
    <a class="navbar-brand" routerLink="">
      <img src="/assets/logo.png" alt="Logo" class="logo-img">
    </a>

  </div>
</nav>

<div class="user-profile">

  <div class="user-photo">
    <img [src]="user!.avatar" alt="Foto de perfil" class="img-fluid rounded-circle">
  </div>
  <div class="user-details">
    <div class="row">
      <div class="col-md-7">
        <h2>Nombre del usuario</h2>
        <p>Usuario: {{ user!.first_name }}</p>

      </div>
      <div class="col-md-5">
        <h2>Apellidos del usuario</h2>
        <p>Apellidos: {{ user.last_name }}</p>


      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Correo de usuario</h2>
        <p>Email: {{ user.email }}</p>

      </div>

    </div>
    <button [routerLink]="['/users']" class="btn btn-primary float-right">Volver</button>

  </div>


</div>
